<form #seg="ngForm" *ngIf="consejeria">
    <div class="container">
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="observacion">Texto a agregar al seguimiento</label>
                <input
                    type="text"
                    name="observacion"
                    class="form-control"
                    placeholder="Texto a agregar al seguimiento"
                    [(ngModel)]="seguimiento.observacion" />
            </div>
            <div class="col-sm-3">
                <button mat-icon-button (click)="guardarSeguimiento()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <table>
                    <th>Fecha</th>
                    <th>Observacion</th>
                    <th></th>
                    <tr *ngFor = "let s of consejeria.seguimiento">
                        <td>{{s.fecha | date:'shortDate'}}</td>   
                        <td>{{s.observacion}}</td>
                        <td> 
                            <button mat-icon-button (click)="editarseguimiento(s)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>